<div class="body">
  <div class="container">
    <img src='https://www.quizexpo.com/wp-content/uploads/2020/02/f74b7a99-02fb-4109-9c35-303c5b3d69bf.jpg-resize-_opacity_100-frame_bg_color_FFF-gravity_center-q_70-preserve_ratio_true-w_2048_.jpg' alt='pokemon'>
      <%= link_to "ENTER", pokemons_path, class: "btn btn-gradient" %>
  </div>
</div>
