.btn-ghost {
  color: red;
  border: 2px solid blue;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  font-family: "Press Start 2P";
  text-decoration: none;
  background-color: yellow;
}
.form-control{
  border-radius: 8px;
  font-family: "Press Start 2P";
  font-size: 12px;
}

.btn-ghost:hover {
  opacity: 1;
  font-size: 18px;
}

.reset{
  margin-left: 10px;
  width: 5%;

  &:hover {
    animation:rotation .8s normal infinite linear;
  }
}

@keyframes rotation {
  from {transform: rotate(0deg);}
  to {transform: rotate(359deg);}
}
