.list-group-item {
  // font-family: 'Press Start 2P', cursive;
  font-family: 'Pokemon GB';
  font-size: 12px;
}

.img-card-top {
  width: 100%;
  object-fit: contain;
}

#card-link {
  text-decoration: none;

  img {
    transition: all 0.3s ease-in;
  }

  &:hover img {
    width: 110%;
    transform: rotate(30deg);
  }
}

#card {
  height: 17%;
  background-image: linear-gradient(rgba(255,255,255,0.9),rgba(255,255,255,0.9)), url("bg_pokeball.png");
  background-size: cover;
  border: 1px solid rgb(80, 78, 78);
  box-shadow: 5px 2px 3px rgb(153, 151, 151);
}

#pokename {
  text-align: center;
  font-size: 20px;
  text-decoration: none;
}

#pokename a {
  text-decoration: none;
  color: black;
}

#card:hover {
  box-shadow: 20px 8px 12px rgb(14, 13, 13);
  }

.card {
  font-family: 'Pokemon GB' !important;
}
