.container-form {
  width: 600px;
  margin-top: 60px;
  opacity: 1;
  height : 800px;
}

#form_new {
  opacity: 1;
  background-color: white;
  padding: 20px;
}

.background_image_new {
  background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url("https://www.pixenli.com/images/1497/1497463531072931200.png");
  // width: 100%;
  background-size: cover;
  height: 100%;
  // object-fit: cover;
  padding: 50px;
  font-weight: bold;
  font-size: large;
  font-family: 'Press Start 2P', cursive;
  // background: linear-gradient(#FFFFFF, #000000);
}
