.dashboard-title {
background-color: white;
border: 1px, solid;
font-family: 'Press Start 2P', cursive;
text-align: center;
font-size: 24px;
}

.dashboard-part {
  background-color: white;
  border: 1px, solid;
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  font-size: 16px;
  }
