.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-size: 15px;
  font-family: 'Press Start 2P', cursive;
  background-color: rgba(110, 100, 100, 0.7);
  border-radius: 8px;
  p {

  }
}
